.App {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.header {
  margin-top: 50px;
  margin-bottom: 50px;
}
.demo-box {
  border: 5px solid wheat;
  padding: 30px;
  width: 600px;
}
.demo-grid {
  text-align: left;
  display: grid;

  grid-template-areas:
    'instruction instruction hour12'
    'instruction instruction hour24'
    'instruction instruction colon'
    'instruction instruction value'
    'instruction instruction v2'
    'instruction instruction value2';
}

.demo-instruction {
  grid-area: instruction;
  width: 90%;
}

.time {
  height: 50px;
  width: 100%;
  font-size: larger;
}
.demo-time {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: larger;
}
.demo-time > label {
  padding-right: 10px;
  font-weight: bold;
}
.time-text {
  font-size: normal;
}

.time-hour12 {
  grid-area: hour12;
}

.time-hour24 {
  grid-area: hour24;
}

.time-value {
  grid-area: value;
}

.time-colon {
  grid-area: colon;
}

.time-value-v2 {
  grid-area: value2;
}

.time-v2 {
  grid-area: v2;
}
